@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #0a0a0a;
  --color-surface-container: #0d0d0d;
  --color-border: #1a1a1a;
  --color-border-hover: #333333;
  --color-primary: #c5a059;
  --color-text-main: #ffffff;
  --color-text-muted: #666666;
  --color-text-dim: #444444;
  --color-text-secondary: #888888;
  
  --font-sans: "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
